data/raw/*
!data/**/.gitkeep
.snakemake/
logs/
report.html
data/raw/urls.txt
envs/.conda/
envs/.mamba/
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
*.gpkg-journal
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.ipynb_checkpoints/
.env
.Renviron
rsconnect/
secret/
.DS_Store
Thumbs.db
*.zip
*.parquet